.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:white;
    color: #333333;
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Ensure it stays above other content */
}

.content {
    margin-top: 100px; /* Add margin to prevent content from being hidden behind the fixed header */
}

.filter-table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  word-wrap: break-word;
  background-color: #333333;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
}

.filter-table th {
  font-size: 14px;
}

.filter-table td {
  font-size: 12px;
}

.styled-table {
  margin-top: 180px;
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 10px;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  word-wrap: break-word;
  border: 1px solid black;
}

.styled-table thead th {
  background-color: #333333;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 10%;
  top: 180px;
  position: sticky;
}

.styled-table td {
  text-align: center;
  padding: 8px 8px;

}

h1 {
  font-size: 12;
  font-family: sans-serif;
}

h2 {
  font-size: 10;
  font-family: sans-serif;
  font-weight: bold;
  font-style: underline;
}

canvas {
  margin-left: auto;
  margin-right: auto;

}

button {
  background-color: steelblue;
  color: orange;
  border-radius: 10px;

}